@page "/categories/{id:int}"
@inject ApplicationDbContext Context
@rendermode InteractiveServer
@attribute [Authorize(Roles = "admin")]

@if (Model is null)
{
    <p class="text-center">
        <em>Categoria não encontrada</em>
    </p>
}
else
{
    <h3>@Model.Title (@Model.Id)</h3>
    <EditForm Model="@Model">

        <div class="mb-3">
            <label class="form-label">Nome da categoria</label>
            <InputText @bind-Value="Model.Title" class="form-control" readonly />
        </div>

        <a href="/categories">
            Voltar
        </a>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    public Category? Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await Context
            .Categories
            .AsNoTracking()
            .FirstOrDefaultAsync(x => x.Id == Id);
    }
}
