@page "/categories"
@inject ApplicationDbContext Context
@attribute [StreamRendering(true)]

<h3>Categorias</h3>
<a href="/categories/create" class="btn btn-primary">Nova Categoria</a>
<br />

@if (!Categories.Any())
{
    <p class="text-center">
        <em>Carregando as categorias...</em>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>
                    <a href="/categories/@category.Id">
                        @category.Title
                    </a>
                </td>
                <td>
                    <a href="/categories/edit/@category.Id" class="btn btn-primary">
                        Editar
                    </a>
                    &nbsp;

                    @* <AuthorizeView>
                @if (context.User.IsInRole("admin"))
                {
                <a href="/categories/delete/@category.Id" class="btn btn-danger">
                Excluir
                </a>
                }
                </AuthorizeView> *@

                    <a href="/categories/delete/@category.Id" class="btn btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    public IEnumerable<Category> Categories { get; set; } = Enumerable.Empty<Category>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        Categories = await Context
            .Categories
            .AsNoTracking()
            .ToListAsync();
    }

}
